@model Cinemax_Ticket_Booking_System.Models.Showing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Showing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailibleSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailibleSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreeningRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreeningRoom.IDSR)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDS">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
